.author-info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: inherit;
  width: 257px; /* 435 - 178 */
  margin-left: auto;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 48px;
  margin-bottom: 13px;
  padding: 22px 18px;

  width: 213px;
  height: 219px;

  border-radius: 10px;
  border: 1px solid #999;
  background: #fff;
}

.author-info__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  font-family: "Noto Sans TC";
  line-height: 1.187;
}

.author-info__sub-title {
}
.author-info__sub-title .text-orange {
  color: #ff9930;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 1.16;
}

.author-info__sub-title .text-gray {
  color: #999;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 1.16;
}

.author-info__content {
  line-height: 1.16;
}

.author-info__content .text,
.author-info__contact .text {
  color: #000;
  font-size: 12px;
  letter-spacing: 0.24px;
}

.author-info__contact-links {
  display: flex;
  justify-content: start;
  gap: 4px;
}

.author-info__contact-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.author-info__contact-icon {
  width: 14px;
  height: 14px;
}

.author-info__contact-link {
  cursor: pointer;
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

.author-info__contact-link:hover {
  color: #999;
}
