.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.account__signout {
  width: 50px;
  height: 26px;

  margin-right: 22px;
  margin-top: 48px;
  margin-bottom: 6px;

  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account__list {
  margin-bottom: 14px;
  width: 213px;
  min-height: 156px;
  padding: 12px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;

  border: 1px solid #999;
  border-radius: 10px;
  background-color: #fff;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2%;
}

.account__list span {
  display: block;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 14px;
  padding-left: 4px;
  padding-block: 3px;
  transition: all 0.2s;
}

.account__list span:hover {
  background-color: #999;
  color: #fff;
}

.account__list span.selected {
  background-color: #ff9930;
  color: #fff;
}

.account__password-detail {
  display: flex;
  align-items: center;

  width: 213px;
  height: 28px;
  margin-bottom: 4px;
  padding: 7px 14px;
  border: 1px solid #999;
  border-radius: 14px;
  background-color: #fff;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  color: #000;
}

.account__password-btn {
  cursor: pointer;
  background-color: #ff9930;
  border: none;
  border-radius: 14px;
  width: 213px;
  height: 28px;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  color: #fff;
  font-family: inherit;
}

.account__list span,
.account .account__password-detail {
  cursor: pointer;
  app-region: no-drag;
}
