.qr-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.qr-login__title {
  margin-top: 36px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  font-family: "Gen Jyuu Gothic";
  letter-spacing: 1.2px;
}

.qr-login__img {
  width: 179px;
  height: 179px;
  margin-bottom: 14px;
}

.qr-login__refresh {
  cursor: default;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.28px;
  width: fit-content;
  margin-inline: auto;
}
