.qr-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.qr-login__title {
  font-family: "Gen Jyuu Gothic";
  margin-top: 36px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 5%;
}

.qr-login__img {
  width: 179px;
  height: 179px;
  margin-bottom: 14px;
}

.qr-login__refresh {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 12px;
  letter-spacing: 0.24px;
  width: fit-content;
  margin-inline: auto;
  app-region: no-drag;
}
