@import "./styles/button.css";

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* load fonts */
@font-face {
  font-family: "Gen Jyuu Gothic"; /* Choose a name for your font */
  src: url("./assets/fonts/GenJyuuGothic-Regular.ttf") format("truetype"); /* Specify the path and format */
}

@font-face {
  font-family: "Noto Sans TC";
  src: url("./assets/fonts/NotoSansTC-Regular.ttf") format("truetype"); /* Specify the path and format */
}

body {
  font-family:
    "Noto Sans TC", "Gen Jyuu Gothic", sans-serif; /* Apply the custom font to elements */

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ / Edge */
  user-select: none; /* 標準語法 (Chrome, Opera, Edge) */

  /* 可以被拖曳 */
  app-region: drag;
}

button,
img {
  app-region: no-drag;
  cursor: pointer;
}

.layout {
  /* min-height: 100vh; */
  width: 435px;
  height: 328px;

  /* 最上層=第一層依序往下 */
  background-image:
    url("@/frontend/assets/images/bg-yeti.png"),
    url("@/frontend/assets/images/bg-gamania.png"),
    linear-gradient(to bottom, #ff9930 75.48%, #fff 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size:
    178px 328px,
    353px 202px,
    100% 100%;
  background-position:
    left,
    bottom right,
    center;
}

main {
  padding-left: 178px;
  height: 100%;
}
